
// * {
// 	-webkit-touch-callout: default !important;
// 	-webkit-user-select: all !important;
// 	-moz-user-select: all !important;
// 	-ms-user-select: all !important;
// 	user-select: all !important;
// }

.axis {
  font: 10px sans-serif;
}

// .axis path,
// .axis line {
//   fill: none;
//   stroke: gray;
//   shape-rendering: crispEdges;
// }

// .x.axis path {
//   display: none;
// }
.outer,
.senseui-barchart .content {
	overflow-y: auto;
	overflow-x: hidden;
}
.senseui-barchart .footer {	
	// background-color: gray;
}
.tick text {
	fill: #404040;
}
#yaxis {
	fill: none;
}
.bar {
	fill: #4477AA;
}
.bar:hover {
	cursor: pointer;
	fill: #77b62a;
}
.barTextIn{
	font-size: 14px;
	fill: white;
}
.barTextOut {
	font-size: 14px;
	fill: #404040;
}

// D3 TIP
.d3-tip {
  line-height: 1.5;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.9) !important;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 14px;
  width: 100%;
  line-height: 0;
  color: rgba(64,64,64,0.9);
  content: "\25BC";
  position: inherit;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 4px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: 0;
  /*margin: -3px 0 0 0;*/
  top: 100%;
  left: 0;
}
.d3-tip.n.left {
  -webkit-transform: translate(-40px, 0);
  transform: translate(-40px, 0);
}
.d3-tip.n.left:after {
  -webkit-transform: translate(40px, 0);
  transform: translate(40px, 0);
}
.d3-tip.n.leftBar {
  -webkit-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
}
.d3-tip.n.leftBar:after {
  -webkit-transform: translate(50px, 0);
  transform: translate(50px, 0);
}
.d3-tip .dimension,
.d3-tip .measure {
	display: block;
}

.d3-tip .dimension {
	font-weight: bold;
}
.d3-tip .measure {
	text-align: right;
}
.qv-object-nav {
	cursor: pointer !important;
}